In [1]:
import pandas as pd
df = pd.read_csv('train.csv')
df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
0,26,92,2011-08-26,87235.57,False,61.10,3.796,NaN,NaN,NaN,NaN,NaN,136.213613,7.767,A,152513
1,34,22,2011-03-25,5945.97,False,53.11,3.480,NaN,NaN,NaN,NaN,NaN,128.616064,10.398,A,158114
2,21,28,2010-12-03,1219.89,False,50.43,2.708,NaN,NaN,NaN,NaN,NaN,211.265543,8.163,B,140167
3,8,9,2010-09-17,11972.71,False,75.32,2.582,NaN,NaN,NaN,NaN,NaN,214.878556,6.315,A,155078
4,19,55,2012-05-18,8271.82,False,58.81,4.029,12613.98,NaN,11.5,1705.28,3600.79,138.106581,8.150,A,203819

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282451 entries, 0 to 282450
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         282451 non-null  int64
 1   Dept          282451 non-null  int64
 2   Date          282451 non-null  object
 3   Weekly_Sales  282451 non-null  float64
 4   IsHoliday     282451 non-null  bool
 5   Temperature   282451 non-null  float64
 6   Fuel_Price    282451 non-null  float64
 7   MarkDown1     100520 non-null  float64
 8   MarkDown2     74232 non-null   float64
 9   MarkDown3     91521 non-null   float64
 10  MarkDown4     90031 non-null   float64
 11  MarkDown5     101029 non-null  float64
 12  CPI           282451 non-null  float64
 13  Unemployment  282451 non-null  float64
 14  Type          282451 non-null  object
 15  Size          282451 non-null  int64
dtypes: bool(1), float64(10), int64(3), object(2)
memory usage: 32.6+ MB

In [3]:
df.isnull().sum()

Store                0
Dept                 0
Date                 0
Weekly_Sales         0
IsHoliday            0
Temperature          0
Fuel_Price           0
MarkDown1       181931
MarkDown2       208219
MarkDown3       190930
MarkDown4       192420
MarkDown5       181422
CPI                  0
Unemployment         0
Type                 0
Size                 0
dtype: int64

In [4]:
markdown_cols = ['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']
df[markdown_cols] = df[markdown_cols].fillna(0)
print(df.isnull().sum())

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
Type            0
Size            0
dtype: int64

In [5]:
print(f"Rows before: {len(df)}")
df.drop_duplicates(inplace=True)
print(f"Rows after: {len(df)}")

Rows before: 282451
Rows after: 282451

In [6]:
df['Date'] = pd.to_datetime(df['Date'])
print(df.dtypes)

Store                    int64
Dept                     int64
Date            datetime64[ns]
Weekly_Sales           float64
IsHoliday                 bool
Temperature            float64
Fuel_Price             float64
MarkDown1              float64
MarkDown2              float64
MarkDown3              float64
MarkDown4              float64
MarkDown5              float64
CPI                    float64
Unemployment           float64
Type                    object
Size                     int64
dtype: object

Dataset Cleaning & Transformation Notes

Initial Data Exploration: I used .head() and .info() to understand the structure of the dataset and identify columns with incorrect data types or missing values.


Missing Value Identification: Using .isnull().sum(), I discovered significant gaps in the MarkDown columns, which required cleaning before further analysis.


Handling Missing Numeric Data: I filled the missing values in MarkDown1 through MarkDown4 with 0, assuming that a null value indicates no promotional discount was applied.


Removing Redundant Data: I applied .drop_duplicates() to ensure the dataset contains only unique records, preventing skewed results in future sales aggregations.


Datatype Conversion (Date): I converted the Date column from a string object to a datetime format using .to_datetime() to allow for chronological sorting and time-series analysis.


Feature Engineering (Total Markdown): Created a new column Total_MarkDown by summing individual markdown values to represent the total promotional impact per row.


Standardizing Column Types: I used .astype() where necessary to ensure numeric columns were correctly recognized as floats or integers for mathematical calculations.


Data Export: The final cleaned dataset was exported using .to_csv() to ensure a clean, analysis-ready file is available for stakeholders.

In [10]:
df.to_csv('cleaned_data.csv', index=False)